$space-amounts: (2, 3, 5, 10, 12, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 100, 150, 200); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right);

@each $space in $space-amounts {
  .h#{$space} {
    height: #{$space};
  }

  .w#{$space} {
    width: #{$space};
  }

  .m#{$space} {
    margin: #{$space};
  }

  .mv#{$space} {
    margin-bottom: #{$space};
    margin-top: #{$space};
  }

  .mh#{$space} {
    margin-left: #{$space};
    margin-right: #{$space};
  }

  .p#{$space} {
    padding: #{$space};
  }

  .pv#{$space} {
    padding-bottom: #{$space};
    padding-top: #{$space};
  }

  .ph#{$space} {
    padding-left: #{$space};
    padding-right: #{$space};
  }

  .fz#{$space} {
    font-size: #{$space};
  }

  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space};
    }

    .p#{str-slice($side, 0, 1)}#{$space} {
      padding-#{$side}: #{$space};
    }
  }
}

/* produce :
.m5 {
  margin: 5;
}

.p5 {
  padding: 5;
}

.mt5 {
  margin-top: 5;
}

.pb10 {
  padding-bottom: 10;
}
...
*/
