.center {
  text-align: center;
}

.black {
  color: $color-black;
}

.white {
  color: $color-white;
}

.grey {
  color: $color-grey;
}

.disabled {
  color: $color-disabled;
}

.primary {
  color: $color-primary;
}

.primary-border {
  border-color: $color-alt;
  border-width: 1;
}

.alt {
  color: $color-alt;
}

.bg {
  background-color: $color-white;
}

.primary-bg {
  background-color: $color-primary;
}

.alt-bg {
  background-color: $color-alt;
}

.bold {
  font-weight: bold;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.3;
}

button {
  color: $color-grey;
  background-color: $color-white;

  .ios & {
    background-color: $color-light-grey;
    padding: 10px 5px;
  }

  &.action {
    font-weight: bold;
    font-size: 13;

    &.big {
      height: 55;
      font-size: 16;
    }
  }
  &.selected, &.validate {
    color: $color-white;
    background-color: $color-primary;
  }
  &.disabled {
    color: $color-white;
    background-color: $color-disabled;
  }
}
