.center {
  text-align: center;
}

.black {
  color: $color-black;
}

.grey {
  color: $color-grey;
}

.disabled {
  color: $color-disabled;
}

.primary {
  color: $color-primary;
}

.primary-alt {
  color: $color-primary-alt;
}

.bg {
  background-color: $color-white;
}

.bold {
  font-weight: bold;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.3;
}

button {
  color: $color-grey;
  background-color: $color-white;
  &.action {
    font-weight: bold;
    font-size: 13;

    &.big {
      height: 55;
      font-size: 16;
    }
  }
  &.selected, &.validate {
    color: $color-white;
    background-color: $color-primary;
  }
  &.disabled {
    color: $color-white;
    background-color: $color-disabled;
  }
}
