/* https://coolors.co/fcfcef-353535-53ba82-3c6e71-6c3d94 */

$color-black: #353535;
$color-white: #FCFCEF;
$color-primary: #53BA82;
$color-grey: #3C6E71;
$color-alt: #6C3D94;

$color-disabled: #cccccc;
