.center {
  text-align: center;
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.grey {
  color: var(--color-grey);
}

.disabled {
  color: var(--color-disabled);
}

:disabled {
  opacity: 0.5;
}

.primary {
  color: var(--color-primary);
}

.primary-border {
  border-color: var(--color-alt);
  border-width: 1;
}

.alt {
  color: var(--color-alt);
}

.bg {
  background-color: var(--color-white);
}

.bg-error, .red {
  background-color: var(--color-error);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-alt {
  background-color: var(--color-alt);
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.3;
}

ActivityIndicator {
  color: var(--color-primary);
}
