.ns-root {
  /* https://coolors.co/f9f9f3-353535-53ba82-3c6e71-6c3d94 */
  --color-white: white;
  --color-black: #353535;
  --color-primary-light: #c9e8d0;
  --color-primary: #81ca91;
  --color-primary-dark: #44a258;
  --color-grey: #808f0c;
  --color-grey-light: #b9b7b7;
  --color-alt: #5f23af;
  --color-disabled: #cccccc;
  --color-error: #d42f2f;
}
